Nav {
  display: relative;
  display: grid;
  grid-template-columns: 5% 5% 90%;
  grid-template-rows: 1fr;
  align-items: center;
  min-height: 6.4rem;
  background: #fafafa;
  color: #231f20;
}

.hamburger {
  display: block;
  grid-column: 1/2;
  position: relative;
  justify-self: center;
  align-items: center;
  font-size: 3rem;
}

.nav-logo {
  position: relative;
  height: 3rem;
  justify-self: center;
  align-items: center;
  grid-column: 2/3;
}

.nav-menu {
  grid-column: 3/4;
  justify-self: end;
  padding: 0;
  margin: 0;
  position: relative;
  left: -6rem;
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-link {
  padding: 0 5vh 0 5vh;
  color: inherit;
  text-decoration: inherit;
}

.sidebar-logo {
  position: relative;
  padding: 2rem;
  height: 3rem;
  justify-self: center;
  align-items: center;
  grid-column: 2/3;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100%;
  left: -100%;
  width: 25vh;
  background: #fafafa;
}

.sidebar-menu {
  justify-content: center;
  padding: 2rem 0 0 0;
  margin: 0;
  list-style: none;
  font-size: 1.6rem;
}

.grey-background {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  background-color: #000;
}

.sidebar-menu li {
  padding: 2rem;
}

.sidebar.active {
  left: 0;
  transition: 250ms;
}

.sidebar-toggle {
  text-decoration: inherit;
}
.nav-link:hover,
.sidebar-menu:hover {
  color: #607d8b;
}
