Nav {
  display: relative;
  display: grid;
  grid-template-columns: 7rem 5rem auto;
  grid-template-rows: 1fr;
  align-items: center;
  min-height: 6.4rem;
  background: #fafafa;
  color: #231f20;
}

.hamburger {
  display: block;
  grid-column: 1/2;
  position: relative;
  justify-self: center;
  align-items: center;
  font-size: 3rem;
}

.nav-logo {
  position: relative;
  height: 3rem;
  justify-self: center;
  align-items: center;
  grid-column: 2/3;
}

.nav-menu {
  grid-column: 3/4;
  justify-self: end;
  padding: 0;
  margin: 0;
  height: 70%;
  position: relative;
  left: -6rem;
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 2rem 0 2rem;
  margin: 0 0.4rem 0 0.4rem;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  border-radius: 2.4rem;
}

.sidebar {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100%;
  left: -100%;
  width: 25vh;
  background: #fafafa;
  transition: 250ms;
}

.sidebar-logo {
  position: relative;
  padding: 2rem;
  height: 3rem;
  justify-self: center;
  align-items: center;
  grid-column: 2/3;
}

.sideHead {
  width: 100%;
  height: 6.4rem;
  margin-bottom: 0.4rem;
}

.sidebar-menu {
  justify-content: center;
  padding: 0.8rem 0.8rem 0 0;
  margin: 0;
  list-style: none;
  font-size: 1.6rem;
}

.grey-background {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: #000;
  pointer-events: none;
}

.nav-link.sidenav {
  display: block;
  height: 4.8rem;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0 24px 24px 0;
}

.sidebar-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100%;
  padding: 0 2.4rem 0 1.6rem;
}

.sidebar.active {
  left: 0;
  transition: 250ms ease-in-out;
}

.grey-background.active {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
  background-color: #000;
  pointer-events: all;
}

.sidebar-toggle {
  display: none;
  text-decoration: inherit;
}
.nav-link:hover {
  color: #231f20;
  background-color: #607d8b2a;
  transition: 250ms ease-in-out;
}

.nav-link:active,
.nav-link.sidenav.current {
  color: #fafafa;
  background-color: #607d8b;
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }

  .sidebar-toggle {
    display: block;
    text-decoration: inherit;
  }
}
