.design {
  padding-top: 8rem;
  margin: 0;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8rem);
  width: 100%;
  background-color: red;
  /* background-color: #fafafa; */
  overflow: hidden;
}

/* h1 {
  position: relative;
  margin: 0rem;
  color: black;
} */
