.design {
  padding-top: 6.4rem;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  height: calc(100vh - 6.4rem);
  width: 100%;
  background-color: rgb(67, 121, 67);
}
